<form action="/" method="POST">
  <h1>Create a Puppy</h1>
  <p>Name: <input type="text" name="name" /></p>
  <p>Breed: <input type="text" name="breed" /></p>
  <p>Age: <input type="integer" name="age" /></p>
  <input type="submit" value="submit">
</form>

<!-- <form class="" action="/" method="post">
  <label for="Name:">Name:</label>
  <input type="text" name="name" value=""><br /><br />
  <label for="Name:">Breed:</label>
  <input type="text" name="breed" value=""><br /><br />
  <label for="Name:">Age:</label>
  <input type="text" name="age" value=""><br /><br />
  <input type="submit" value="submit">
</form> -->
